<h1>List of Simpsons</h1>
<div class='row'>
    <% @simpsons.each do |s| %>
    <div class='col-4'>
        <img src="<%= s[:pic] %>" class="img-rounded">
        <h2><%= s[:name] %></h2>
        <table class='table-bordered'>
            <tr>
                <td>Age</td>
                <td><%= s[:age] %></td>
            </tr>
            <tr>
                <td>Sex</td>
                <td><%= s[:gender]%></td>
            </tr>
            <tr>
                <td>Catchphrase</td>
                <td><%= s[:catchphrase]%></td>
            </tr>
        </table>
        <a href='/simpsons/<%=s[:name].downcase%>'>more ...</a>


    </div>
    <% end %>
</div>

